body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
}
h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
p {
    color: white; 
    font-family: Arial;
}
img {
    width: 200px;
    display: block;
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
a {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

a:hover {
    color: #ff00ff;
}